:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #5c3e49;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06); */

  /* --line: 1px solid var(--color-grey-light-2); */

  --font-primary: sans-serif;
}

*
/* *::before,
*::after */ {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1);
  font-weight: 300;
  line-height: 1.6;
  user-select: none;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 10rem;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey-dark-1);
  border-radius: 30%;
  border-top-right-radius: 0;

  margin: 2rem;
  font-size: 5rem;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position-y: -1rem;
  color: var(--color-primary-light);
}

.card__title {
  position: absolute;
  bottom: -4rem;
  font-size: 3rem;
  color: var(--color-primary-light);
}

.card__cross {
  display: none;
}

.card:hover .card__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  font-size: 2rem;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  z-index: 1;
}

.card__info {
  font-size: 2rem;
  /* position: absolute; */
  /* bottom: -5rem; */
}

.card__check {
  font-size: 4rem;
  position: absolute;
  right: -1rem;
  bottom: -2.3rem;
}

.card__pin {
  font-size: 2.5rem;
  position: absolute;
  right: -2rem;
  top: -2.7rem;
}

.card__basketwaste {
  font-size: 3rem;
  position: absolute;
  right: 0;
  top: -1rem;
}
.navigation__nav {
  border: none;
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-basis: 2rem;
}

.navigation__nav a {
  color: var(--color-grey-dark-1);
  text-decoration: none;
  margin: 2rem;
}

.navigation__nav a:hover {
  color: var(--color-primary-light);
}
