:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #5c3e49;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  /* --line: 1px solid var(--color-grey-light-2); */

  --font-primary: sans-serif;
}

*
/* *::before,
*::after */ {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1);
  font-weight: 300;
  line-height: 1.6;
  user-select: none;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 10rem;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 5rem;
  cursor: pointer;
  position: relative;
  color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-light);
  transition: all 0.1s ease-in;
}

.card__img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  border-radius: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
  object-position: 0rem -0.5rem;
}

.card__title {
  bottom: -4.5rem;
  font-size: 3rem;
  position: absolute;
}

.card__cross {
  display: none;
}

.card:hover {
  transform: translateY(-0.25rem);
}

.card:hover .card__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  font-size: 2rem;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  z-index: 10;
}

.card__info {
  font-size: 2rem;
  /* position: absolute; */
  /* bottom: -5rem; */
}

.card__check {
  font-size: 4rem;
  position: absolute;
  right: -1rem;
  bottom: -2.3rem;
}

.card__pin {
  position: absolute;
  right: -2rem;
  top: -2.7rem;
}
.Admin_System {
  font-size: 2.5rem;
  filter: invert(50%);

  z-index: 1;
}

.Admin_MRF {
  font-size: 3rem;
  filter: invert(100%);
  z-index: 2;
}

.Admin_RF {
  font-size: 3.5rem;
  filter: invert(0%);
  z-index: 3;
}

.card__basketwaste {
  display: none;
}
.card:hover .card__basketwaste {
  height: 2rem;
  width: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: red;
  cursor: no-drop;
}

.card:active {
  transform: scale(1.02);
  cursor: grabbing;
}

.card:active .card__basketwaste {
  opacity: 0;
}

.navigation__nav {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;

  /* flex-basis: 2rem; */
}

.navigation__nav > * {
  margin-left: 2rem;
  color: var(--color-grey-dark-1);
  text-decoration: none;
}

.navigation__nav a:hover {
  color: var(--color-primary-light);
}

.access-control__select {
  /* align-c: flex-end; */
  /* align-self: center; */
  /* justify-self: flex-end; */
  margin-left: auto;
  margin-right: 10rem;
  /* background-color: red; */
}
